@import './common';

@import './particles/preloader';
@import './particles/header';
@import './particles/first-slide';
@import "./particles/features";
@import "./particles/steps";
@import "./particles/promos";
@import "./particles/acquainted";
@import './particles/gold-card';
@import './particles/form-section';
@import './particles/checkbox';

.main-button {
  transition: opacity .2s, visibility .2s .0s, transform .2s;
  visibility: visible;
  opacity: 1;

  &__wrapper {
    position: fixed;
    bottom: 12px;
    z-index: 100;
    padding: 0 12px;
    width: 100%;

  }

  &_hidden {
    transition: opacity .2s, visibility .2s .2s, transform .2s;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 600px) {
  .main-button {
    &__wrapper {
      bottom: 30px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 600px) {
  .main-button {
    &__wrapper {
      bottom: 40px;
    }
  }
}

// @media screen and (min-width:1400px) {
//   .main-button {
//     &__wrapper {
//       bottom: 60px;
//     }
//   }
// }