.acquainted {

  &_no-card {
    padding-top: 110px;
  }

  &_yes-card {
    padding-top: 110px;
  }

  &__main-content {
    padding: 22px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__substrate {
    animation: substrate-animation 3s infinite;
    animation-direction: alternate;
  }

  &__card {
    width: calc(100vw - 60px);
  }

  &__substrate-wrapper {
    overflow: hidden;
    width: 100vw;
    position: absolute;
    z-index: -1;
    bottom: 50%;
    height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(50%)
  }

  &__figures {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 100%;
    transform: translateY(0px);
  }

  &__subtitle {
    text-align: center;
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 16px;
    max-width: 320px;
    margin: 0 auto;
  }

  &__figure-img {
    position: absolute;

    &_type {
      &_star {
        right: 63px;
        bottom: 156px;
        animation: star-animation 3s infinite;
        animation-direction: alternate;
      }

      &_line {
        left: 0;
        bottom: 0;
        animation: line-aimation 6s infinite;
        animation-direction: alternate;
      }

      &_ellipse {
        right: 0;
        bottom: 136px;
        animation: ellipse-animation 3s infinite;
        animation-direction: alternate;
      }

      &_semi-ellipse {
        left: 0;
        bottom: 85px;
        animation: semi-ellipse-animation 3s infinite;
        animation-direction: alternate;
      }
    }
  }

  &__action {
    margin-top: 24px;
  }
}

@keyframes substrate-animation {
  0% {
    transform: scale(1.7) rotate(0);
  }

  100% {
    transform: scale(1.2) rotate(30deg);
  }
}

@media screen and(min-width:400px) {
  .acquainted {
    &__figure-img {
      &_type {
        &_ellipse {
          bottom: 190px;
          width: 120px;
        }

        &_semi-ellipse {
          width: 80px;
        }

        &_line {
          width: 170px;
        }

        &_star {
          bottom: 170px;
          width: 100px;
        }
      }
    }
  }
}

@media screen and(min-width:450px) {
  .acquainted {
    &__card {
      width: 400px;
    }

    &__figures {
      width: 420px;
    }

    &__figure-img {
      &_type {
        &_ellipse {
          width: 150px;
        }
      }
    }
  }
}

@media screen and(min-width:600px) {
  .acquainted {
    &__title {
      max-width: 400px;
      margin-bottom: 16px;
    }

    &__instruction {
      margin-top: 52px;
    }
  }
}

@media screen and(min-width:1000px) {
  .acquainted {
    &__title {
      max-width: 600px;
      margin-bottom: 10px;
    }
  }
}