.features {

  &__container {
    background: #FBFBFB;
    border-radius: 28px;
    padding: 6px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;

    text-align: center;

    color: #23E87D;

    padding: 26px 26px 24px;
  }

  &__slider {

  }

  &__controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__action {
    margin-top: 24px;
  }
}

.slider-features {
  width: 100%;

  &__page-dots {
    .page-dots {

      &__dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 50%;
        background: #F5EBFF;
        cursor: pointer;
        list-style-type: none;

        &_active {
          background: #23E87D;
        }
      }
    }
  }

  &__button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #F5EBFF;
    border-radius: 50%;
    min-width: 32px;
    height: 32px;

    &_next {

    }

    &_prev {

    }
  }

  &__img-btn {
    object-fit: contain;

    &_next {
      transform: rotateZ(180deg);
    }

    &_prev {

    }
  }

  &__item {
    width: 100%;
    height: 228px;
  }
}

.figures {
  position: relative;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__figures {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__img {
    display: block;
    object-fit: contain;
    margin: 0 auto;
  }

  &__img-block {
    position: relative;
    width: 100%;
  }

  &__img-circle {
    border-radius: 50%;
    overflow: hidden;
    height: 140px;
    width: 140px;
    margin: 0 auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #404040;
  }

  &__text {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: center;

    color: #404040;
  }
}

.slide-figure {
  position: absolute;
  border-radius: 50%;

  &_s1-f1 {
    background: #9BFFE1;
    width: 36px;
    height: 36px;

    left: 188px;
    top: 10px;
  }

  &_s1-f2 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    left: 24px;
    top: 40px;
  }

  &_s1-f3 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    left: 230px;
    top: 70px;
  }

  &_s1-f4 {
    background: #9BFFE1;
    width: 24px;
    height: 24px;

    left: 74px;
    top: 90px;
  }
}