.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__item {
    &:not(:first-of-type) {
      margin-top: 44px;
    }

  }
}

.features-grid {
  display: none;

  &__container {
    position: relative;
    margin: 0 auto;
    background: #FBFBFB;
    border-radius: 32px;
    padding: 40px;
  }

  &__content {
    margin: -20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    padding: 20px 42px;
  }
}

.features {
  &__container {
    background: #FBFBFB;
    border-radius: 28px;
    padding: 6px;
  }

  &__title {
    text-align: center;
    padding: 26px 26px 24px;
  }

  &__slider {
  }

  &__controls {
    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__action {
    margin-top: 24px;
  }
}

.slider-features {
  width: 100%;

  &__page-dots {
    .page-dots {

      &__dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 50%;
        background: #F5EBFF;
        cursor: pointer;
        list-style-type: none;

        &_active {
          background: #23E87D;
        }
      }
    }
  }

  &__button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #F5EBFF;
    border-radius: 50%;
    min-width: 32px;
    height: 32px;
    margin: 0 24px;

    &_next {
    }

    &_prev {
    }
  }

  &__img-btn {
    object-fit: contain;

    &_next {
      transform: rotateZ(180deg);
    }

    &_prev {
    }
  }

  &__item {
    width: 100%;
    height: 228px;
    //overflow: hidden;
  }
}

.figures {
  position: relative;
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__figures {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__img {
    display: block;
    object-fit: contain;
    margin: 0 auto;
  }

  &__img-block {
    position: relative;
    width: 100%;
  }

  &__img-circle {
    border-radius: 50%;
    overflow: hidden;
    height: 140px;
    width: 140px;
    margin: 0 auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #404040;
  }

  &__text {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: center;

    color: #404040;
  }
}

.slide-figure {
  position: absolute;
  border-radius: 50%;

  &_s1-f1 {
    background: #9BFFE1;
    width: 36px;
    height: 36px;

    left: 188px;
    top: 10px;
  }

  &_s1-f2 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    left: 24px;
    top: 40px;
  }

  &_s1-f3 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    left: 230px;
    top: 70px;
  }

  &_s1-f4 {
    background: #9BFFE1;
    width: 24px;
    height: 24px;

    left: 74px;
    top: 90px;
  }
}

.features-grid-figure {
  position: absolute;
  border-radius: 50%;

  &_f1 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    left: 0px;
    top: 0px;

    transform: translateX(-50%) translateY(-50%);
  }

  &_f2 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    left: 230px;
    top: 0px;

    transform: translateX(-50%) translateY(-50%);
  }

  &_f3 {
    background: #9BFFE1;
    width: 64px;
    height: 64px;

    right: 0;
    top: 0;
    transform: translateY(-10%);
  }

  &_f4 {
    background: #9BFFE1;
    width: 50px;
    height: 50px;

    left: 42px;
    top: 112px;
  }

  &_f5 {
    background: #0099F9;
    width: 32px;
    height: 32px;

    right: 30px;
    top: 40%;
  }
}

@media screen and (min-width: 600px) {
  .features {
    display: none;
  }

  .features-grid {
    display: block;

    &__title {

    }

    &__content {
      display: flex;
    }

    &__action {
      margin-top: 52px;
    }

    &__item {

    }
  }
}

@media screen and (min-width: 720px) {
  .features-grid {
    display: block;

    &__title {

    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 980px;
    }

    &__action {
      margin-top: 52px;
    }

    &__item {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-grid {
    display: block;

    &__title {

    }

    &__content {

    }

    &__action {
      margin-top: 52px;
    }

    &__item {
      width: 33.33%;
    }
  }
}
