.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__item {
    &:not(:first-of-type) {
      margin-top: 44px;
    }

  }
}

.features-grid {
  display: none;
  position: relative;

  &_bg {
    background: #FBFBFB;
    border-radius: 32px;
  }

  &__inner {
    padding: 40px;
  }

  &__container {
    margin: 52px auto;
  }

  &__content {
    margin: -20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 100%;
    padding: 20px 42px;
  }

  &__action {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.features {
  &__container {
    background: #FBFBFB;
    border-radius: 28px;
    padding: 6px;
  }

  &__title {
    text-align: center;
    padding: 26px 26px 0px;
  }

  &__slider {

  }

  &__controls {
    margin-top: 24px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__action {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.slider-features {
  width: 100%;

  &__page-dots {
    .page-dots {

      &__dot {
        display: inline-block;
        width: 8px;
        height: 8px;
        margin: 0 8px;
        border-radius: 50%;
        background: #F5EBFF;
        cursor: pointer;
        list-style-type: none;

        &_active {
          background: #23E87D;
        }
      }
    }
  }

  &__button {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background: #F5EBFF;
    border-radius: 50%;
    min-width: 32px;
    height: 32px;
    margin: 0 24px;

    &_next {
    }

    &_prev {
    }
  }

  &__img-btn {
    object-fit: contain;

    &_next {
      transform: rotateZ(180deg);
    }

    &_prev {
    }
  }

  &__item {
    width: 100%;
    padding-top: 24px;
    margin: 0 15px;
  }
}

.figures {
  width: 100%;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__figures {
    width: 100%;
  }

  &__img {
    display: block;
    object-fit: contain;
    margin: 0 auto;
  }

  &__img-block {
    position: relative;
  }

  &__img-circle {
    border-radius: 50%;
    overflow: hidden;
    height: 140px;
    width: 140px;
    margin: 0 auto;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;

    text-align: center;

    color: #404040;
  }

  &__text {
    margin-top: 8px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 120%;
    text-align: center;

    color: #404040;
  }
}

.slide-figure {
  position: absolute;
  border-radius: 50%;

  //s1
  &_s1-f1 {
    background: #9BFFE1;
    width: 36px;
    height: 36px;

    right: -5%;
    top: 10%;
  }

  &_s1-f2 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    left: -28%;
    top: 34%;
  }

  &_s1-f3 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    right: -30%;
    top: 60%;
  }

  &_s1-f4 {
    background: #9BFFE1;
    width: 24px;
    height: 24px;

    left: 5%;
    top: 72%;
  }

  //s2
  &_s2-f1 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    right: -32%;
    top: 13%;
  }

  &_s2-f2 {
    background: #9BFFE1;
    width: 24px;
    height: 24px;

    right: -8%;
    top: 54%;
  }

  &_s2-f3 {
    background: #9BFFE1;
    width: 36px;
    height: 36px;

    bottom: 6%;
    left: -5%;
  }

  &_s2-f4 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    top: 24%;
    left: -28%;
  }

  //s3
  &_s3-f1 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    top: 18%;
    left: -28%;
  }

  &_s3-f2 {
    background: #9BFFE1;
    width: 24px;
    height: 24px;

    left: 2%;
    top: 12%;
  }

  &_s3-f3 {
    background: #9BFFE1;
    width: 36px;
    height: 36px;

    top: 24%;
    right: -12%;
  }

  &_s3-f4 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    bottom: 15%;
    right: 1%;
  }

  //s4
  &_s4-f1 {
    background: #C1B2FF;
    width: 70px;
    height: 70px;

    right: -32%;
    top: -4%;
  }

  &_s4-f2 {
    background: #9BFFE1;
    width: 36px;
    height: 36px;

    top: 64%;
    right: -12%;
  }

  &_s4-f3 {
    background: #0099F9;
    width: 16px;
    height: 16px;

    top: 58%;
    right: -4%;
  }

  &_s4-f4 {
    background: #9BFFE1;
    width: 24px;
    height: 24px;

    bottom: -6%;
    left: 18%;
  }
}

.features-grid-figure {
  position: absolute;
  border-radius: 50%;

  &_f1 {
    background: #C1B2FF;
    width: 122px;
    height: 122px;

    left: 0px;
    top: 0px;

    transform: translateX(-50%) translateY(-50%);
  }

  &_f2 {
    background: #0099F9;
    width: 32px;
    height: 32px;

    left: 230px;
    top: 0px;

    transform: translateX(-50%) translateY(-50%);
  }

  &_f3 {
    background: #9BFFE1;
    width: 64px;
    height: 64px;

    right: 0;
    top: 0;
    transform: translateY(-10%);
  }

  &_f4 {
    background: #9BFFE1;
    width: 50px;
    height: 50px;

    left: 42px;
    top: 112px;
  }

  &_f5 {
    background: #0099F9;
    width: 32px;
    height: 32px;

    right: 30px;
    top: 40%;
  }

  &_f1-yes {
    background: #C1B2FF;
    width: 90px;
    height: 90px;

    right: 20px;
    top: 51%;
  }

  &_f2-yes {
    background: #0099F9;
    width: 32px;
    height: 32px;

    right: 130px;
    top: 72%;
  }

  &_f3-yes {
    background: #9BFFE1;
    width: 50px;
    height: 50px;

    right: 32px;
    top: 42%;
  }

  &_f4-yes {
    background: #9BFFE1;
    width: 50px;
    height: 50px;

    left: 42px;
    top: 30%;
  }

  &_f5-yes {
    background: #0099F9;
    width: 32px;
    height: 32px;

    top: 92px;
    left: 122px;
  }
}

@media screen and (min-width: 600px) {
  .features {
    display: none;
  }

  .features-grid {
    display: block;

    &__title {

    }

    &__content {
      display: flex;
    }

    &__action {
      margin-top: 52px;
    }

    &__item {

    }
  }
}

@media screen and (min-width: 720px) {
  .features-grid {
    display: block;

    &__title {

    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 980px;
    }

    &__action {
      margin-top: 52px;
    }

    &__item {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .features-grid {
    display: block;

    &__title {

    }

    &__content {

    }

    &__action {
      margin-top: 52px;
    }

    &__item {
      width: 33.33%;

      &_half {
        padding: 20px 64px;
        width: 50%;
      }
    }
  }
}
