.gold-card {
  &__title {
    margin-bottom: 24px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
  }

  &__button {
    width: calc(50% - 3px);
  }
}

@media screen and (min-width:600px) {
  .gold-card {
    &__buttons {
      margin: 0 auto;
      width: 424px;
    }
  }
}