.header {
  padding: 12px 12px;
  position: fixed;
  width: 100%;
  left: 0;
  background-color: $mainBackground;
  top: 0px;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  &__logo {
    height: 26px;

    &_type {
      &_partner-logo {
        opacity: 0;
      }
    }
  }

}