body {
  background-color: $mainBackground;
  font-family: $fontMain;
  overflow-x: hidden;
  position: relative;
}

.no-scroll {
  overflow: hidden;
}

section {
  margin-bottom: 44px;
  position: relative;
}

input {
  font-family: $fontMain;
}

.ancor {
  position: absolute;
  top: -60px;
}

.main-title {
  text-align: center;
  font-family: $fontMain;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;

  &_color {
    &_black {
      color: $black;
    }

    &_green {
      color: $green;
    }
  }
}

.title {
  text-align: center;
  font-family: $fontMain;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;

  &_color {
    &_white {
      color: $white;
    }

    &_black {
      color: $black;
    }

    &_green {
      color: $green;
    }

    &_gray {
      color: $gray;
    }
  }
}

.subtitle {
  text-align: center;
  font-family: $fontMain;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;

  &_color {
    &_white {
      color: $white;
    }

    &_black {
      color: $black;
    }

    &_green {
      color: $green;
    }

    &_gray {
      color: $gray;
    }
  }
}

.text {
  font-family: $fontMain;
  font-style: normal;
  font-size: 14px;

  &_weight {
    &_normal {
      font-weight: normal;
    }
  }

  &_color {
    &_black {
      color: $black;
    }

    &_green {
      color: $green;
    }
  }
}

.desc {
  font-family: $fontMain;
  font-style: normal;
  font-size: 12px;
  line-height: 120%;

  &_weight {
    &_normal {
      font-weight: normal;
    }
  }

  &_color {
    &_white {
      color: $white;
    }

    &_black {
      color: $black;
    }

    &_green {
      color: $green;
    }

    &_gray {
      color: $gray;
    }
  }
}

.container {
  padding-left: 6px;
  padding-right: 6px;
}

.button {
  font-family: $fontMain;
  border-radius: 24px;
  cursor: pointer;
  width: 100%;
  display: block;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  padding: 15px;

  color: $white;

  &_half {
    padding: 6px;
  }


  &_gray {
    background: $black;

    &:hover {
      background: $black;
    }
  }

  &_green {
    background: $green;
  }
}

.semi-button {
  font-family: $fontMain;
  border-radius: 24px;
  cursor: pointer;
  width: 100%;

  font-family: $fontMain;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  padding: 6px;

  color: $white;

  &_gray {
    background: $black;

    &:hover {
      background: $black;
    }
  }

  &_green {
    background: $green;
  }
}

.link {
  position: relative;
  display: inline-block;
  color: $black;
  font-weight: 600;
  cursor: pointer;

  &::after {
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background-color: $black;
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(38, 38, 38, 0.94);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s;

  &_active {
    opacity: 1;
    visibility: visible;
  }
}

@media screen and (min-width:600px) {
  .button {
    max-width: 320px;
  }

  .container {
    padding-left: 12px;
    padding-right: 12px;
  }

  .semi-button {
    max-width: 206px;
  }

  section {
    margin-bottom: 60px;
  }

  .main-title {
    font-size: 32px;
  }
}

@media screen and (min-width:1000px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .main-title {
    font-size: 48px;
  }

  .title {
    font-size: 26px;
  }

  .text {
    font-size: 18px;
  }

  section {
    margin-bottom: 80px;
  }
}

// @media screen and (min-width:1400px) {
//   .container {
//     padding-left: 40px;
//     padding-right: 40px;
//   }
// }