
.button {
  border-radius: 24px;
  cursor: pointer;
  width: 100%;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  padding: 15px;

  color: #FFFFFF;

  padding: 15px;

  &_half {
    padding: 6px;
  }


  &_gray {
    background: #404040;

    &:hover {
      background: #404040;
    }
  }

  &_green {
    background: #23E87D;
  }
}