// colors
$black: #404040;
$white: #fff;
$green:#23E87D;
$grey:rgba(64, 64, 64, 0.4);
$mainBackground:#F5EBFF;



// fonts
$fontMain: 'SB Sans Interface',
Arial,
sans-serif;


// media
$desktopWidth: 1600px;
$tabletWidth: 1024px;
$phoneWidth: 600px;